global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'staycrest'
    metrics_path: '/api/health/metrics'
    scrape_interval: 10s
    static_configs:
      - targets: ['host.docker.internal:3000']
    
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100'] 